# Start by blacklisting everything, since this repository is placed in the home
# directory.
*

# Whitelist the .gitignore file
!.gitignore

# Whitelist the .config directory, since a lot of dotfiles are located here
!.config/

# Fish (except the fishd file)
!.config/fish/
!.config/fish/*
!.config/fish/functions/*

# Firefox
!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/profiles.ini
!.mozilla/firefox/default.profile/
!.mozilla/firefox/default.profile/chrome/
!.mozilla/firefox/default.profile/chrome/userChrome.css

# Neovim
!.config/nvim/
!.config/nvim/*
.config/nvim/.*
!.config/nvim/after/ftplugin/
!.config/nvim/after/ftplugin/*
!.local/
!.local/share/
!.local/share/nvim/
!.local/share/nvim/site/
!.local/share/nvim/site/autoload/
!.local/share/nvim/site/autoload/plug.vim

# Sway
!.config/sway/
!.config/sway/*

# Termite
!.config/termite/
!.config/termite/*

# Tmux
!.tmux.conf

# Thunderbird
!.thunderbird
!.thunderbird/profiles.ini
!.thunderbird/default.profile/
!.thunderbird/default.profile/chrome/
!.thunderbird/default.profile/chrome/**
