---
repos:
  - repo: local
    hooks:
      - id: fish-indent
        name: Fish auto-format
        entry: fish_indent --write
        language: system
        types: [fish]
      - id: nix-fmt
        name: Nix auto-format
        entry: nix fmt
        language: system
        types: [nix]

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua-github

  - repo: https://github.com/ansible/ansible-lint
    rev: v25.12.1
    hooks:
      - id: ansible-lint
        args: [--write]

  # Linter and formatter for Python code.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
