{ theme }: ''
  window#waybar {
    /* Set default background and text color on the bar itself. */
    background: ${theme.ui.status_bar.default.background};
    color: ${theme.ui.status_bar.default.foreground};

    /* Use the default monospace font as configured with Fontconfig. */
    font-family: monospace;
    font-size: 1rem;
  }

  /* Colors for values past certain thresholds. */
  .warning {
    color: ${theme.theme.normal.warning};
  }

  .critical {
    color: ${theme.theme.normal.error};
  }

  /* Add padding and border-left to each widget, as a separator. */
  .modules-right > widget > label {
    border-left: 1px solid ${theme.ui.status_bar.default.foreground};
    padding: 0 1em;
  }
''
