@define-color background {{ ui.status_bar.default.background }};
@define-color foreground {{ ui.status_bar.default.foreground }};
@define-color active-background {{ ui.status_bar.active.background }};
@define-color active-foreground {{ ui.status_bar.active.foreground }};
@define-color accent {{ theme.normal.accent }};

@define-color black {{ colors.normal.black }};
@define-color red {{ colors.normal.red }};
@define-color green {{ colors.normal.green }};
@define-color yellow {{ colors.normal.yellow }};
@define-color blue {{ colors.normal.blue }};
@define-color magenta {{ colors.normal.magenta }};
@define-color cyan {{ colors.normal.cyan }};
@define-color white {{ colors.normal.white }};


* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    color: @foreground;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @background;
    color: @foreground;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    background-color: @active-background;
    color: @active-foreground;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 12px;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: @red;
}


#temperature.critical {
    background-color: @red;
}

#idle_inhibitor.activated {
    background-color: @active-background;
    color: @active-foreground;
}
