# Include system defaults
$include /etc/inputrc

# Use the up/down arrows to search through the history for partial matches.
# This search behavior is similar to that of the Fish shell.
"\e[B": history-substring-search-forward
"\e[A": history-substring-search-backward

# When performing completion, highlight the matched prefix of the suggestions
set colored-completion-prefix

# Instead of the default auto complete that completes up to a common prefix,
# cycle through the list of possibilities completions.
Tab: menu-complete

# Do not immediately cycle through the list when auto completing, but first
# show the common prefix of all possibilities.
set menu-complete-display-prefix

# If there are multiple options for auto completing, show all available
# matches.
set show-all-if-ambiguous

# Perform filename matching and completion in a case-insensitive fashion.
set completion-ignore-case

# In addition to case-insensitivity, treat hyphens (-) and underscores (_) as
# equivalent for filename matching and completion.
set completion-map-case
